/*@charset "utf-8";*/
#D1{
	margin-left:60px;
	margin-top: 10px;
}
#D2{
	margin-top:100px; 
	margin-left:20%;

}

#D50{
	margin-left:60%;
	margin-top: 20px;
}
#D10{
	margin-left: 50px;
	margin-top: 30px;
}

#D12,#D13,#D14{
	margin-top: 20px;
	float: left;
}
#D12{
	margin-left: 450px;
}
#D13,#D14{
	margin-left: 10px;
}
#D55{
	margin-left: 50px;
	margin-top: 15px;
}
#D18{
	margin-left: 50px;
}
.D17{
	
	margin-left: 50px;
}
.D58{
	
	margin-left: 60px;
	margin-top: 20px;
}
.D19{
	margin-left:180px;
}
.D20{
	margin-left: -150px;
}
#D52{
	margin-top: 20px;
}
#D36{
	margin-left: 50px;
	margin-top: 20px;
}

#D50,#D22,#D24{
	margin-top: 20px;
	margin-left:90px;
}
#D51{
	margin-left:50px;
}

#D31{
	margin-top: 20px;
}
#D53{
	margin-left: -45px;
}


#D42{
	margin-left: 50px;
    margin-top: 30px;
}
.D44{
	margin-right: 235px;
	margin-top:20px;
}

#D35{
	margin-left:550px;
	margin-top:20px;
}


