
@charset "utf-8";
#F1{
	margin-left:60px;
	margin-top: 10px;
}
#F2{
	margin-left:40px ;
}
#F7{
	margin-top: 10px;
	margin-left: 60px;
}
#F8{
	margin-top: 60px;
	margin-left: 600px;
}
