@charset "utf-8";
#B1{
	margin-left:60px;
	margin-top: 10px;
}
#b4{
	margin-top: 20px;
    margin-left:50px;
}
#b8{
	margin-top: 20px;
	margin-left:50px;
}

#b10,#b11,#b12,#b13,#b14,#b15,#b16,#b17,#b18,#b19 ,#b20{
	float: left;
	
	margin-top: 20px;
	margin-left: : 120px;
}
#b9{
	margin-left: :50px;

}
#b23{
	float: left;
	margin-top: 50px;
	margin-left:50px;
}
#b40{
	margin-left:70px;
}

#b34{
	margin-left:600px;
	margin-top: 30px;
}
#b31{
	margin-left: 50px;;
}
#b60{
	margin-top: 5%;
	margin-left: 45%;
}
#b61{
	margin-top: 10%;
	margin-left: 18%;
}
#b62{
	margin-top: -40px;
	margin-left: 60%;
}
#b63{
	margin-top: -20px;
	margin-left: 32%;
}
#b64{
	margin-top: -20px;
	margin-left: 80%;
}